body {
  background-color: #e1e5f2
}
ul {
  list-style: none;
}
h1 {
  text-align: center;
  font-family: 'Source Code Pro', monospace;
  font-size: 5em;
  font-weight: 900;
  background-color: #022b3a;
  color: white;
}
nav {
  background-color: #1f7a8c;
  border: 2px solid rgb(65, 51, 51);
  display: flex;
  align-items: center;
  justify-content: center;
}
nav li {
  display: inline;
  padding: 0.5em 1em;
  font-size: 2em;
  font-weight: 600;
}
 
nav li:hover {
  background-color: #006d77;
  color: aliceblue;
}
nav a {
  text-decoration: none;
  color: #c2b7b7;
}
nav a:visited {
  color: inherit;
}
nav a:hover {
  color: white;
}
nav a:active {
  color: inherit;
}