App{
  min-height: 100vh;
background-color: '#DBDAE0'
}
Header {
  text-align: center;
  font-family: 'Source Code Pro', monospace;
  font-size: 5em;
  font-weight: 900;
  background-color: #022b3a;
  color: white;
  margin: 0;
  margin-top: 0;
}
Header:link{
  color: red;
}
nav {
  background-color: #1f7a8c;
  border: 2px solid rgb(65, 51, 51);
  display: flow-root;
  align-items: center;
  justify-content: center;
  color: black;
}
nav li {
  display: inline;
  padding: 0.5em 1em;
  font-size: 2em;
  font-weight: 600;
}
 
nav li:hover {
  background-color: #006d77;
  color: aliceblue;
}
nav a {
  text-decoration: none;
  color: #c2b7b7;
}
nav a:visited {
  color: inherit;
}
nav a:hover {
  color: white;
}
nav a:active {
  color: inherit;
}
#articles_main{
  text-align: center;

}
#article_main{
  text-align: center;
  border: #74bbc2;
  border-style: dashed;
  border-width: 10px;
  padding: 10px;
  margin: 5px;
}
 vote_msg{
  color: red;
}
users{
 background-color: #bb4c4c;

}
.App.profile_img{
  border-radius: 50%;
}
nav{
  color:Black;
  font-family: 'Orbitron', sans-serif;}

  a.Header_Link{
    color: white;
    --bs-link-hover-color: #f8f9fa;
  }
